
body {
  font-family: "Courier";
}

.plant > .panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3b3d3c;
  padding: 5px 20px 5px 20px;
  margin: 20px 5px 20px 5px;
}
.plant > .panel > .chosentest {
  color: white;
  font-weight: normal;
  font-size: 120%;
}
.plant > .panel > .controls {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin: 5px;
}
.plant > .panel > .controls > .select {
  width: 120px;
}
.plant > .panel > .controls > .button {}


.jbod {
  margin: auto;
  background: var(--jbod-color);
  padding: 10px;
  margin-bottom: 20px;
  --slot-width: 400px;
  --jbod-color: #6b6d6c;
}
.jbod > .title-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.jbod > .title-box > .title {
  color: white;
  font-weight: normal;
  font-size: 120%;
}
.jbod > .title-box > .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.jbod > .title-box > .controls > .switch {
  padding-right: 20px;
}
.jbod > .title-box > .controls > .select {
  width: 90px;
}
.jbod > .title-box > .controls > .button {}
.jbod > .jbodstat-box {
  border-bottom: 10px solid var(--jbod-color);
  background: white;
}
.jbod > .jbodstat-box > .jbodstat {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.jbod > .grid {
  display: grid;
  background: #3b3d3c;
  padding: 10px;
  gap: 10px;
}
.jbod > .dutinfo-box {
  border-top: 10px solid var(--jbod-color);
  background: white;
}
.jbod > .dutinfo-box > .dutinfo {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}


.slot {
    background: #ccffdc;
   /* border: 1px solid #000066; */
    padding: 5px;
    color: black;
    font-family: "Lucida Console";
    font-size: 12px;
}
.slot > .row1 {
  text-align: center;
}
.slot > .row2 {
  text-align: center;
}
.slot > .row3 {
  display: flex;
}
.slot > .row3 > .col {
    flex-grow: 1;
    text-align: center;
}
.slot-selected {
    background: #aaffaa;
}
